/* Ripple */
@import '../ripple.css';

/* Universal footer */
@import '../footer.css';

/* Fonts */
/* Get a copy of the licenses at https://wfiles.glitch.me/fonts/licenses.txt */
@import 'https://wfiles.glitch.me/fonts/cyanic/21.css';

/* Main rules */
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  margin: 0;
}

/* Logo font */
.section-title, #navbar--logo {
  font-family: 'Source Serif 4', serif;
}

/* Margin rules */
.ma { max-width: 1000px; width: 90%; }
.mb { margin: 40px auto; }
.mb2 { margin: 80px auto; }

/* Navbar rules */
#navbar {
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#navbar-apps, #navbar-cyanic { margin: 20px auto; }
#navbar--logo {
  background-image: linear-gradient(to right, #aaaaff, #6666ff);
  background-clip: text;
  color: transparent;
  font-size: 24px;
  font-weight: bold;
}

.navbar-app {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 7px 15px;
  font-weight: bold;
  text-decoration: none;
  border: 0px solid transparent;
  border-radius: 10px;
  width: 100px;
  display: inline-block;
}
.navbar-app-blue { background-color: #47a5db; color: black; }
.navbar-app-green { background-color: #339933; color: white; }
.navbar-app-purple { background-color: #703399; color: white; }
.navbar-app-red { background-color: #db4747; color: black; }
.navbar-app-yellow { background-color: #d1ce00; color: black; }

/* Headline */
#prominent {
  height: 450px;
  display: grid;
  align-items: end;
  background-image: linear-gradient(to bottom right, #e9e9ff, #bbbbff);
}
#prominent-text { margin: 0 auto 50px auto; }

/* All other sections */
.section-title {
  display: block;
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Underline rules */
.ul {
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

.ul-green { text-decoration-color: #339933; }
.ul-purple { text-decoration-color: #703399; }
.ul-yellow { text-decoration-color: #d1ce00; }

/* Cards */
a.noul { text-decoration: none; color: black; }
.card {
  border: 1px solid #777777;
  border-radius: 5px;
  margin: 0 auto;
  width: 90%;
  padding: 5% 2%;
  box-shadow: 0px 0px 3px #999999;
}
.card-title {
  font-size: 24px;
  display: block;
  margin-bottom: 5px;
  font-family: 'Source Serif 4', serif;
}

/* Backgrounds */
.bg {
  border: 0px solid transparent;
  border-radius: 5px;
  padding: 20px 60px;
  height: 200px;
  display: grid;
  align-items: end;
  justify-content: start;
}
.bg-purple { background-image: linear-gradient(to right, #aaaaff, #6666ff); }
.bg-text { margin: 0 auto 20px auto; }

/* App list */
.apps {
  width: 100%;
}
.apps tr td {
  width: 33%;
}

@media only screen and (max-width: 960px) {
  #navbar-apps {
    display: none;
  }
}
@media only screen and (min-width: 960px) {
  #navbar-apps {
    display: inherit;
  }
}