#cy-black-footer {
  background-color: #ccccff;
  color: black;
  border: 0px solid transparent;
  border-radius: 10px;
  margin: 20px 0;
}

#cy-black-footer div {
  padding: 10px 20px;
}

#cy-black-footer a {
  color: #3333ff;
}
#cy-black-footer a:focus,
#cy-black-footer a:hover {
  color: #1111ff;
}
