/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: rgba(0,0,0,0.3) radial-gradient(circle, transparent 1%, rgba(0,0,0,0.3) 1%) center/15000%;
}
.ripple:active {
  background-color: rgba(0,0,0,0.1);
  background-size: 100%;
  transition: background 0s;
}
