/* Other */
@import './ripple.css';

/* Fonts */
/* Get a copy of the licenses at https://wfiles.glitch.me/fonts/licenses.txt */
@import 'https://wfiles.glitch.me/fonts/cyanic/21.css';

/* Main properties */
body {
  margin: 0;
  background-color: #f9f9f9;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  max-width: 100%;
}
:root {
  --color-white: white;
  --color-accent: #6666ff;
  --color-accent-dark: #3701bb;
  --color-accent-light: #ab9fff;
  --color-accent-lighter: #c8bfff;
}

/* Navigation bar properties */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 20px;
  box-shadow: 0px 0px 3px #999999;
  width: 100%;
  background-color: var(--color-white);
}
#navbar--logo {
  background-image: linear-gradient(to right, #9999ff, #3333ff);
  background-clip: text;
  color: transparent;
  font-family: 'PT Serif', serif;
  font-size: 24px;
  font-weight: 700;
}

/* App container properties */
#app {
  margin: 0 5%;
  width: 800px;
  max-width: 80%;
  margin-top: 120px;
  margin-bottom: 50px;
  padding: 0 5%;
}

#about {
  font-size: 60px;
  width: 700px;
  max-width: 100%;
  font-family: 'Source Serif 4', serif;
  font-weight: 900;
  margin-bottom: 40px;
}

.accent {
  color: var(--color-accent);
}

.ul {
  text-decoration: underline;
  text-decoration-color: var(--color-accent);
  text-decoration-thickness: 5px;
}

/* Colors */
.ul.green { text-decoration-color: #008000; }
.button.green { background-color: #008000; }
span.green { color: #008000; }

/* Buttons */
.button {
  border: 0px solid transparent;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #999999;
  font-weight: bold;
  padding: 5px 10px;
  text-decoration: none;
  color: var(--color-accent-dark);
  background-color: white;
}
.button-xl {
  padding: 10px 20px;
  font-size: 22px;
}
.button-primary {
  background-color: var(--color-accent);
  color: white;
}

/* HRs */
.wave {
  height: 2px;
  background-color: #999999;
  border: 0px solid transparent;
}

/* Cards */
.card {
  background-color: white;
  box-shadow: 0px 0px 3px #999999;
  border: 0px solid transparent;
  border-radius: 5px;
  padding: 20px 30px;
}
.card-actions {
  padding-top: 10px;
}
.card-actions a {
  color: var(--color-accent-dark);
  text-decoration: none;
  padding: 5px 10px;
  border: 0px solid transparent;
  border-radius: 5px;
}
.card-title {
  font-size: 24px;
}
.card-link {
  color: black;
  text-decoration: none;
}

/* Headings */
h1, h2, .card-title {
  font-family: 'Source Serif 4', serif;
}

/* Badges */
.badge {
  background-color: white;
  box-shadow: 0px 0px 3px #999999;
  border: 0px solid transparent;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: bold;
  color: black;
}
.badge-white {
  color: white;
}

#back-button {
  color: black;
  font-size: 24px;
}
